# python
black
isort
# app
fastapi
click==8.0.1
uvicorn
pydantic
email-validator
# db
databases[postgresql]
SQLAlchemy
alembic
psycopg2-binary
# dev
pytest==6.2.1
pytest-asyncio==0.14.0
httpx==0.16.1
asgi-lifespan==1.0.1